@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 18px 'Nunito 700', sans-serif;
  min-height: 100vh;
  justify-content: center;
  justify-items: center;
  display: flex;
  align-items: center;
}

.time-show {
  color: white;
  justify-content: center;
  justify-items: center;
  display: flex;
  align-items: center;
  margin: 5px;
}

.time-show > div {
  display: flex;
  min-height: 20vh;
  font-weight: 200;
  font-size: 30px;
  margin-right: 02em;
}

#Christmas {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  margin-left: 15px;
}

.faltam {
  position: absolute;
  top: 240px;
  font-size: 29px;
  color: #007d4c;
}

.para-o-natal {
  position: absolute;
  bottom: 400px;
  font-size: 29px;
  color: #007d4c;
}

@media (max-width: 847px) {
  body {
    background-color: #7b1221;
    min-height: 100vh;
  }

  div.time-show {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: 3em 3em 3em 3em;
  }

  p {
    margin-left: 12px;
    box-sizing: border-box;
  }
  span {
    position: relative;
    margin-left: 65px;
    box-sizing: border-box;
  }

  div.escrita {
    margin-bottom: 0;
  }

  .faltam {
    position: absolute;
    top: 125px;
  }
}
.para-o-natal {
  position: absolute;
  bottom: 245px;
}